<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RazerRPCGUI.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <RazerRPCGUI.Properties.Settings>
      <setting name="RunAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RPCOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Subtitle" serializeAs="String">
        <value />
      </setting>
      <setting name="Desc" serializeAs="String">
        <value />
      </setting>
      <setting name="AssetArg" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoEffect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddWith" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>None</value>
      </setting>
    </RazerRPCGUI.Properties.Settings>
  </userSettings>
</configuration>